<footer class="footer">
  <div class="left">
    <img src="assets/digital-brain-icon/favicon.svg" alt="Logo" class="logo">
    <span class="brand-text">
      DIGITAL <span class="highlight">BRAIN</span>
    </span>
  </div>

  <div class="right">
    
    <a href="mailto:digitalbrain.ucb.cba@gmail.com" target="_blank" class="icon">
        <img src="assets/email.png" alt="Email">
    </a>
    <a href="https://github.com/digitalbrain-ucb-cba" target="_blank" class="icon">
      <img src="assets/github.svg" alt="GitHub">
    </a>
  </div>
</footer>
