<footer class="footer">
    <div class="footer-left">
      <img src="assets/digital-brain-icon/favicon-96x96.png" alt="Digital Brain Logo" class="logo" />
      <p class="email">digitalbrain.ucb.cbagmail.com</p>
  
      <div class="social-icons">
        <a href="#" class="icon"><img src="assets/email.png" alt="Email" /></a>
        <!-- <a href="#" class="icon"><mat-icon>email</mat-icon></a> -->
        <a href="#" class="icon"><img src="assets/tiktok-icon.png" alt="TikTok" /></a>
        <a href="#" class="icon"><img src="assets/facebook-icon.png" alt="Facebook" /></a>
        <a href="#" class="icon"><img src="assets/instagram-icon.png" alt="Instagram" /></a>
      </div>
    </div>
  
    <div class="footer-right">
      <div class="sponsors">
        <h3>SPONSORS</h3>
        <div class="sponsor-logos">
          <img src="assets/ucb-logo.png" alt="UCB Logo" class="sponsor" />
          <img src="assets/neurotechx-logo.png" alt="NeurotechX Logo" class="sponsor" />
        </div>
      </div>
    </div>
  </footer>
  