.tech-stack{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h2{
        text-align: center;
    }
}
.tech-stack-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tech-stack-card {
    max-width: 400px;
}
  
.tech-stack-header-image {  
    background-image: url('https://static.vecteezy.com/system/resources/previews/021/448/549/original/digital-tech-icon-technologies-illustration-sign-information-symbol-data-center-logo-vector.jpg');
    background-size: cover;
}