<section class="tech-stack">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2 class="title">TECH </h2>
      </div>
      <div class="card-content">
        <h3 class="eeg-title">EEG 4-channel Neurobit Optima</h3>
        <p>A complete Neurofeedback system consisting of electrodes, a brain-mapping cap, specialized software, a 4-channel Neurobit Optima device, and a state charger with six game sets. It enables detailed analysis of brain and executive functions, personalized neurotraining, and cognitive enhancement.</p>
        <div class="buttons">
          <a mat-button href="https://www.ucb.edu.bo/la-u-c-b-se-convierte-en-la-primera-universidad-boliviana-en-integrar-neurofeedback-en-su-formacion-academica/" target="_blank"  >Learn more</a>
        </div>
      </div>
    </div>
    <img src="../../../../../assets/eeg.jpg" alt="EEG" class="tech-stack-image">
  </div>
  <div class="container">
    <img src="../../../../../assets/bci.png" alt="Open BCI" class="tech-stack-image bci-image">
    <div class="card">
     
      <div class="card-content">
        <h3 class="bci-title">OPEN </h3>
        <p>OpenBCI technology focuses on utilizing electroencephalogram (EEG) signals to facilitate direct communication between the brain and external devices, enabling users to control applications without relying on muscle movement.</p>
        <div class="buttons">
          <a mat-button href="https://openbci.com/" target="_blank"  >Learn more</a>
        </div>
      </div>
    </div>

  </div>


   