<section class="presentation">
  <div class="image-container">
    <img src="assets/team-photo.jpg" alt="Team photo" />
  </div>
  <div class="text-container">
    <h2>Who We Are</h2>
    <p>
      Digital Brain is a student-led organization at the Catholic University of Bolivia in Cochabamba, Bolivia.
      Digital Brain focuses on neurotechnology application projects, recently created to promote the development of neorotechnology in Bolivia.
      We are a multidisciplinary team of students from different fields, including engineering and psychology.
    </p>

    <h3>Awards:</h3>
    <ul>
      <li>None</li>
    </ul>

    <div class="button-group">
      <button class="btn secondary" routerLink="/">Meet our team!</button>
      <!-- <button class="btn primary">Get involved!</button> -->
    </div>
  </div>
</section>
