.banner{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 20px 0 140px;
}

.banner img {
    height: 100%;
}

.banner h1 {
    font-size: 65px;
}

.title::after {
    content: "BRAIN";
    color: var(--mat-sys-primary);
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 50px;
    button {
        width: 200px;
        font-weight: 600;
    }
}

@media (max-width: 768px) {

    .banner {
        width: 100%;
        height: 100vh;
        padding: 16px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .banner img {
        height: 50%;
    }
    .banner .buttons {
        flex-direction: row;
    
    }
    .banner h1 {
        font-size: 40px;
    }
    .banner .buttons button {
        width: 100%;
    }
}
