<section class="banner">
  <div class="container">
    <h1 class="title">
      DIGITAL 
    </h1>

    <p>Digital Brain is UCB’s student neurotech group. We explore brain science with tech, AI, and BCIs—building projects, learning together, and sharing what we discover.</p>
    <div class="buttons">
      <button mat-flat-button class="btn btn-primary" style="background-color: white;" (click)="scrollToPresentation()">Find Out More</button>
      <button mat-flat-button class="btn btn-primary">Our Projects</button> 
    </div>
  </div>
  <img src="../../../../../assets/banner.png" alt="Digital Brain Banner" class="banner-image">

    
  </section>