<section class="supervisors-section">
    <h2 class="section-title">
      <span class="subtitle">Meet Our Team</span><br />
      Supervisors & Mentors
    </h2>
  
    <div class="cards-container">
      <div class="mentor-card">
        <img src="assets/images/Tiara.webp" alt="Dr. Gabriel Potvin" class="mentor-img" />
        <h3 class="mentor-name">Tiara</h3>
        <p class="mentor-description">
          aqui viene un texto que hable sobre el mentor, su experiencia y su rol en el proyecto.
        </p>
      </div>
  
      <div class="mentor-card">
        <img src="assets/images/chimi.jpg" alt="Dr. Lyndia Wu" class="mentor-img" />
        <h3 class="mentor-name">Jimmy</h3>
        <p class="mentor-description">
          aqui viene un texto que hable sobre el mentor, su experiencia y su rol en el proyecto.
        </p>
      </div>
  
      <div class="mentor-card">
        <img src="assets/images/erika.jpg" alt="Dr. Saeid Soltanian" class="mentor-img" />
        <h3 class="mentor-name">Erika</h3>
        <p class="mentor-description">
          Dr. Soltanian is a research associate at UBC in the Electrical Engineering department.
          He provides us with the lab equipment, materials, and electrode manufacturing.
        </p>
      </div>
    </div>
</section>
  